<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增工资核算')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-account-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">核算月份：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="date" class="form-control" placeholder="yyyy-MM" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "business/account"
        $("#form-account-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-account-add').serialize());
            }
        }

        $("input[name='date']").datetimepicker({
            format: "yyyy-mm",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>